.header {
  display: grid;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  place-items: center;
  /* background-color: var(--bg-backgroundcolor);
  background-image: var(--bg-backgroundimage); */
  background-color: #dedede;
  border-bottom: 3px solid black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.input {
  background-color: white;
  padding: 10px 10px;
  /* border-radius: 50px; */
  border: none;
  margin: 10px 10px;
  border: 2px solid black;
  width: 60% ;
  outline: none;
}