*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fafafa;
  --bg-backgroundcolor: #4158D0;
  --bg-backgroundimage: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --bg-border: linear-gradient(90deg,
      rgba(124, 166, 252, 1)0%,
      rgba(119, 235, 129, 1)100%,
    );
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background-color: #c1c1c129;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.app .main {
  padding: 10px;
  height: 100%;
  overflow: auto;
}